<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html style="height: 100%">
    <head>
        <title>Predix Foundry</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="/cf-ui/public/app/vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/cf-ui/public/app/styles/home.css" />

        <script src="/cf-ui/public/app/vendor/angular.min.js" ></script>
        <script src="/cf-ui/public/app/vendor/jquery.min.js" ></script>
        <script src="/cf-ui/public/app/vendor/bootstrap/js/bootstrap.min.js" ></script>
        <script src="/cf-ui/public/app/vendor/ng-flow/dist/ng-flow-standalone.min.js"></script>

        <script src="/cf-ui/public/app/app.js" ></script>
        <script src="/cf-ui/public/app/controllers/appsController.js" ></script>
        <script src="/cf-ui/public/app/controllers/homeController.js" ></script>
        <script src="/cf-ui/public/app/directives/loader.js" ></script>
        <script src="/cf-ui/public/app/directives/buildpack.js" ></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body ng-app="cf-gui" style="height: 90%; background-color: #3b3b3f; ">

        <div class="container" style="height: 100%" ng-controller="home">
            <div class="row" style="background-color: #FFFFFF; height: 100%; position: relative" >
                <div class="col-md-12" style="height: 100%">

                    <div class="row">
                        <div class="col-md-12" style="padding: 0px">
                            <div class="masthead clearfix" style="background-color: #3b3b3f; ">
                                <div class="inner">

                                    <h3 class="masthead-brand">
                                        <img src="/cf-ui/public/app/img/brand/ge_monogram_white.png" width="48" height="48" alt="GE Monogram">
                                        Predix Foundry
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="height: 100%; position: relative">

                        <div class="col-md-2" style="background-color: #242326; height: 100%; position: relative">
                            <div class="row" style="height: 100%">
                                <div style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;">
                                    <span class="glyphicon glyphicon-menu-hamburger"></span>

                                    <select class="form-control" ng-model="activeSpace"
                                           ng-options="space as space.entity.name for space in spaces | orderBy:$index track by space.metadata.guid" ng-change="setActiveSpace()" >
                                        <!--ption ng-repeat="space in spaces" value="{{space.metadata.guid}}">{{space.entity.name}}</option-->
                                    </select>

                                </div>

                                <!-- Main Navigation pills -->
                                <ul  id="myTabs" class="nav nav-pills nav-stacked">
                                    <li role="presentation" class="active" style="border: none">
                                        <a href="#appsPanel"><span class="glyphicon glyphicon-cloud"></span>&nbsp;Apps</a>
                                    </li>
                                </ul>
                                <!-- /.Main Navigation pills -->

                            </div>
                        </div>

                        <div class="col-md-10 main-container tab-content" style="border: 5px solid #8b8d8f ; position: relative; height: 100%; ">

                            <!-- Apps -->
                            <div class="panel panel-default panel-main tab-pane fade in active" role="tabpanel" id="appsPanel" style="position: relative; height: 100%; padding-bottom: 55px;">

                                <div class="panel-heading main-heading">
                                        Applications
                                    <div class="pull-right btn-group">
                                        <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#addAppModal" >
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>

                                </div>

                                <div class="panel-body ops-panel" ng-controller="apps">

                                    <div class="row" style="height: 100%; position: relative;">
                                        <div class="col-md-4 group-wrapper" ng-class="selectedApp ? 'col-md-4' : 'col-md-12' ">
                                            <div class="panel panel-default" style="height: 100%; position: relative;">

                                                <!-- Place holder panel -->
                                                <div ng-if="!apps && !loadingApps" class="placeholder"></div>
                                                <!-- /.Place holder panel -->

                                                <div class="lockPanel" ng-hide="!lockApps && !loadingApps" >
                                                    <loader ng-hide="!loadingApps">
                                                        Loading Apps<br/> please wait
                                                    </loader>
                                                </div>

                                                <!-- Applications list -->
                                                <div class="list-group" style="height: 100%; position: relative; overflow: auto; ">


                                                    <a ng-repeat="app in apps" href="#"
                                                       class="list-group-item"
                                                       style="border-radius: 0px; margin: 0px;padding: 0px;"
                                                       ng-class="app.entity.staging_failed_description == undefined ? '' : 'list-group-item-warning'"
                                                       ng-click="selectApp(app)"
                                                       ng-mouseover="hoverApp(app, true)"
                                                       ng-mouseleave="hoverApp(app, false)">

                                                        <div style="display: table-cell; height: 100%; background-color: #f1f1f1" ng-if="app.hover" > <!--  -->
                                                            <div class="btn-group-vertical">

                                                                <button class="btn btn-xs btn-default" ng-click="startApp(app.metadata.guid); $event.stopPropagation();"><span class="glyphicon glyphicon-play"></span></button>
                                                                <button class="btn btn-xs btn-default" ng-click="stopApp(app.metadata.guid); $event.stopPropagation();"><span class="glyphicon glyphicon-stop"></span></button>
                                                                <button class="btn btn-xs btn-default" ng-click="restageApp(app.metadata.guid); $event.stopPropagation();"><span class="glyphicon glyphicon-retweet"></span></button>
                                                                <button class="btn btn-xs btn-danger" ng-click="deleteApp(app.metadata.guid); $event.stopPropagation();"><span class="glyphicon glyphicon-trash"></span></button>
                                                            </div>
                                                        </div>

                                                        <div style="display: table-cell; position: relative; padding: 10px 15px; margin-bottom: -1px; text-align: left; vertical-align: top">
                                                            <span class="label" ng-class="getStateClass(app.entity.state)">
                                                                {{app.entity.state}}
                                                            </span> &nbsp;
                                                            <h4 class="list-group-item-heading" style="display: inline-block">
                                                                {{app.entity.name}}
                                                            </h4>

                                                            <small ng-if="app.entity.production" class="text-success">(Production)</small>
                                                            <small ng-if="!app.entity.production" class="text-info">(Stage)</small>



                                                            <div ng-if="app.entity.staging_failed_description" class="alert alert-danger">
                                                                <b>Package {{app.entity.package_state}}, </b>
                                                                {{app.entity.staging_failed_description}}
                                                            </div>

                                                            <ul>
                                                                <li>
                                                                    <b>Buildpack</b>&nbsp;
                                                                    {{app.entity.buildpack}}
                                                                    {{app.entity.package_state}}
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </a>

                                                </div>
                                                <!-- /.Applications list -->

                                            </div>

                                        </div>

                                        <div class="col-md-8 app-detail" style="height: 100%; position: relative;">
                                            <!-- Main applications panel -->
                                            <div class="panel panel-default main-panel" style="height: 100%; position: relative; overflow: auto">



                                                <!-- Place holder panel -->
                                                <div ng-if="!selectedApp" class="placeholder"></div>
                                                <!-- /.Place holder panel -->

                                                <!-- Lock panel -->
                                                <div class="lockPanel" ng-hide="!lockSettings && !loadingSettings" >
                                                    <loader ng-hide="!loadingSettings">
                                                        Loading content for {{selectedApp.entity.name}}<br/> please wait
                                                    </loader>
                                                </div>
                                                <!-- /.Lock panel -->

                                                <!-- Applications settings Tabs -->
                                                <div ng-if="selectedApp" class="panel-heading sub-panel-heading" >

                                                    <!-- Application section tabs -->
                                                    <ul class="nav nav-tabs header-tabs">
                                                        <li class="nav-title">{{selectedApp.entity.name}}</li>
                                                        <li ng-repeat="section in appSections" ng-class="activeSection == section ? 'active' : ''">
                                                            <a ng-click="loadSection(section)" >{{section}}</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                                <!-- /.Applications settings Tabs -->

                                                <!-- Summary content -->
                                                <div class="panel-body" ng-if="activeSection == 'Summary' && selectedApp.env" style="position: relative; height: 100%; padding-bottom: -200px;" >

                                                    <!-- Info -->
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">General</div>
                                                        <table class="table">
                                                            <tr>
                                                                <th>ID</th>
                                                                <td>{{selectedApp.metadata.guid}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Name</th>
                                                                <td>{{selectedApp.entity.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Version</th>
                                                                <td>{{selectedApp.entity.version}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Diego</th>
                                                                <td>{{selectedApp.entity.diego}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Created at</th>
                                                                <td>{{selectedApp.metadata.created_at}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Last update</th>
                                                                <td>{{selectedApp.metadata.updated_at}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Url</th>
                                                                <td>{{selectedApp.metadata.url}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Space</th>
                                                                <td>{{selectedApp.env.space.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Space id</th>
                                                                <td>{{selectedApp.env.space.id}}</td>
                                                            </tr>

                                                        </table>
                                                    </div>

                                                    <!-- URLS -->
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">Urls</div>
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li ng-repeat="uri in selectedApp.env.uris ">
                                                                    <a href="https://{{uri}}">{{uri}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <!-- Hardware limits -->
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">Hardware limits</div>
                                                        <table class="table">
                                                            <tr ng-repeat="(key, value) in selectedApp.env.limits" >
                                                                <th>{{key}}</th>
                                                                <td>{{value}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                </div>
                                                <!-- /. Summary Content -->


                                                <!-- Management content -->
                                                <div class="panel-body" ng-if="activeSection == 'Manage' && selectedApp.env" style="position: relative; height: 100%; padding-bottom: -200px;" >

                                                    <div class="btn-group">
                                                        <button class="btn btn-default"><span class="glyphicon glyphicon-play"></span>&nbsp;Start</button>
                                                        <button class="btn btn-default"><span class="glyphicon glyphicon-stop"></span>&nbsp;Stop</button>
                                                        <button class="btn btn-default"><span class="glyphicon glyphicon-retweet"></span>&nbsp;Restart</button>
                                                        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
                                                    </div>


                                                </div>
                                                <!-- /. Management Content -->

                                                <!-- Application Files -->
                                                <div class="panel-body" ng-if="activeSection == 'Files'">
                                                    <ul class="list-group">
                                                        <li ng-repeat="file in selectedApp.files" class="list-group-item">
                                                            <small ng-if="file.size == '-'" class="text-info glyphicon glyphicon-plus"></small>
                                                            <small ng-if="file.size != '-'" class="glyphicon glyphicon-file"></small>

                                                            <span class="badge">{{file.size}}</span>
                                                            {{file.name}}
                                                        </li>
                                                    </ul>
                                                </div>

                                                <!-- Push application files -->
                                                <div class="panel-body" ng-if="activeSection == 'Push'">

                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">Upload files:</div>
                                                        <div class="panel-body">
                                                            <div flow-init="{target: getTargetForUpload}"
                                                                flow-files-submitted="$flow.upload()"
                                                                flow-file-success="$file.msg = $message"
                                                                flow-file-error="fileUploadError( $file, $message, $flow )"
                                                                flow-complete="fileUploadComplete($flow)"
                                                                >
                                                                <form class="form-inline">
                                                                    <div class="form-group">
                                                                        <input type="file" flow-btn flow-directory />
                                                                    </div>
                                                                    <span class="btn" flow-btn flow-directory><i class="icon icon-folder-open"></i> Upload Folder</span>
                                                                    <div class="form-group" >
                                                                        <a class="btn btn-sm btn-success" ng-click="$flow.resume()" ng-show="!$flow.isUploading()">Resume</a>
                                                                        <a class="btn btn-sm btn-warning" ng-click="$flow.pause()" ng-show="$flow.isUploading()">Pause</a>
                                                                        <a class="btn  btn-sm btn-danger" ng-click="$flow.cancel()" ng-show="$flow.isUploading()">Cancel</a>
                                                                    </div>
                                                                </form>

                                                                 <br /><br />
                                                                <table class="table table-condensed table-striped">
                                                                    <tr ng-repeat="file in $flow.files">
                                                                        <td>{{$index+1}}</td>
                                                                        <td>{{file.name}}</td>
                                                                        <td>{{file.progress() * 100}}%</td>
                                                                        <td>{{file.msg}}</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                            <!-- /.Main applications panel -->
                                        </div>
                                    </div>


                                    <!--  Modal -->
                                    <div class="modal fade" id="addAppModal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">Create a new application</h4>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="alert alert-info" role="alert" ng-if="createStatusMessage">{{createStatusMessage}}</div>
                                                    <div class="alert alert-danger" role="alert" ng-if="errorMessage">{{errorMessage}}</div>

                                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >

                                                        <div class="panel panel-default" ng-repeat="(key, group) in applicationModel">
                                                            <div class="panel-heading" role="tab" id="heading{{key}}}}">
                                                                <h4 class="panel-title">
                                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{key}}" aria-expanded="true" aria-controls="collapse{{key}}">
                                                                        {{key}}
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapse{{key}}" class="panel-collapse collapse " ng-class="$index == 0? 'in' : ''" role="tabpanel" aria-labelledby="heading{{key}}">
                                                                <div class="panel-body">
                                                                    <form class="form">
                                                                            <div class="form-group" ng-repeat="(key, attribute) in group" ng-if="attribute.visible">

                                                                                <label for="inputName" class="col-sm-2 control-label"><small ng-if="attribute.required" class="text-danger">(*)&nbsp;</small>{{key}}</label>
                                                                                <div ng-switch="attribute.type">
                                                                                    <div ng-switch-when="buildpack" >
                                                                                        <buildpack ng-model="attribute.value" ></buildpack>
                                                                                    </div>
                                                                                    <div ng-switch-default>
                                                                                        <input type="{{attribute.type}}" class="form-control" id="inputName" ng-model="attribute.value" placeholder="{{attribute.placeholder}}" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                                                    <button type="button" class="btn btn-primary" ng-click="create()">Create</button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                    
                                </div>
                            </div>

                            <!-- Services -->
                            <div class="panel panel-default panel-main tab-pane fade"
                                 role="tabpanel"
                                 id="servicesPanel" style="position: relative; height: 100%; padding-bottom: 55px;">

                                <div class="panel-heading main-heading">
                                    Services
                                </div>

                                <div class="panel-body" ng-controller="apps" style="height: 100%; position: relative; overflow: auto;">

                                </div>
                            </div>

                        </div>

                    </div>
                    
                    



                </div>
            </div>
        </div>





        <script>
            $('#myTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
              })
        </script>

    </body>
</html>
